.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-detail details {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background: #eee;
}
